In [3]:
from dj.sql.parsing.backends.antlr4 import parse, ast, visit, sbp, parse_statement

In [4]:
query = "select distinct x  k, x-`s-t`.a.y exp,  count(*) from s-t.a order by tbl.x desc NULLS LAST limit 20"

In [5]:
query ="""
SELECT id, col
FROM mytable
LATERAL VIEW outer EXPLODE(data) mytable_exploded AS col;
"""

In [6]:
query="""Select suit, exploded_rank, exploded_rank2
from sredai.suites_and_ranks_arrays
CROSS JOIN UNNEST(rank) as t(exploded_rank)
ORDER BY suit;"""

In [7]:
query="""
SELECT *
FROM customers
JOIN orders ON customers.id = orders.customer_id
JOIN order_items ON orders.id = order_items.order_id
JOIN products ON order_items.product_id = products.id
WHERE customers.country = 'USA'
"""

In [ ]:
tree = parse(query)

In [17]:
print(tree)

SELECT  suit,
	exploded_rank,
	exploded_rank2
 FROM sredai.suites_and_ranks_arrays
CROSS JOIN UNNEST(rank) AS t(exploded_rank)
ORDER BY suit

In [35]:
tree.select.from_.joins

[Join(join_type='CROSS', right=FunctionTable(name=Name(name='UNNEST', quote_style='', namespace=None), column_list=[Column(name=Name(name='exploded_rank', quote_style='', namespace=None), _api_column=False)], args=[Column(name=Name(name='rank', quote_style='', namespace=None), _api_column=False)]), criteria=None, lateral=False, natural=False)]

In [13]:
sbp.JoinRelationContext??

In [9]:
print(parse(query))

SELECT  suit,
	exploded_rank,
	exploded_rank2
 FROM sredai.suites_and_ranks_arrays
CROSS JOIN UNNEST(rank)
ORDER BY suit

In [ ]:
print(parse(str(parse(query))))

In [17]:
ast_=parse(query)

In [20]:
str(ast_.select.projection[1].set_alias(ast.Name('exp')))

'x - `s-t`.a.y AS exp'

In [23]:
ast_.select.parent_key

'select'

In [24]:
getattr(ast_, 'select')

Select(alias=None, quantifier='DISTINCT', projection=[Column(name=Name(name='x', quote_style='', namespace=None), alias=Name(name='k', quote_style='', namespace=None), _api_column=False), BinaryOp(op='-', left=Column(name=Name(name='x', quote_style='', namespace=None), alias=None, _api_column=False), right=Column(name=Name(name='y', quote_style='', namespace=Name(name='a', quote_style='', namespace=Name(name='s-t', quote_style='`', namespace=None))), alias=None, _api_column=False)), Function(name=Name(name='count', quote_style='', namespace=None), args=[Wildcard()], quantifier='', over=None)], from_=From(tables=[Table(name=Name(name='a', quote_style='', namespace=Name(name='s-t', quote_style='"', namespace=None)), alias=None)], joins=[], laterals=[]), group_by=[], having=None, where=None, set_op=None)

In [26]:
isinstance([1,2,3], (list, tuple, set))

True

In [28]:
!pip install sqlglot

Collecting sqlglot
  Downloading sqlglot-11.3.7-py3-none-any.whl (238 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 238.2/238.2 kB 2.3 MB/s eta 0:00:00a 0:00:01
Installing collected packages: sqlglot
Successfully installed sqlglot-11.3.7
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [32]:
query='''SELECT id, col
FROM mytable
LATERAL VIEW EXPLODE(data) mytable_exploded AS col;'''

In [8]:
from sqlglot import parse_one, transpile

In [40]:
transpile(query, read='spark', write='trino')

['SELECT id, col FROM mytable CROSS JOIN UNNEST(data) AS mytable_exploded(col)']

In [49]:
query='''
SELECT id, col FROM mytable CROSS JOIN UNNEST(data) AS mytable_exploded(col)
'''

In [50]:
transpile(query, read='trino', write='spark')

['SELECT id, col FROM mytable LATERAL VIEW EXPLODE(data) mytable_exploded AS col']

In [43]:
query="""Select Name,Emp_id,expertise,phone_num
from Employee
CROSS JOIN UNNEST(Subject, Phone) as t(expertise,phone_num)"""

In [44]:
transpile(query, read='trino', write='spark')

['SELECT Name, Emp_id, expertise, phone_num FROM Employee LATERAL VIEW EXPLODE(Subject) t AS expertise LATERAL VIEW EXPLODE(Phone) t AS phone_num']

In [45]:
query='SELECT Name, Emp_id, expertise, phone_num FROM Employee LATERAL VIEW EXPLODE(Subject) t AS expertise LATERAL VIEW EXPLODE(Phone) t AS phone_num'

In [46]:
transpile(query, read='spark', write='trino')

['SELECT Name, Emp_id, expertise, phone_num FROM Employee CROSS JOIN UNNEST(Subject) AS t(expertise) CROSS JOIN UNNEST(Phone) AS t(phone_num)']