!pip install antlr4-python3-runtime==4.12.0

In [1]:
from dj.sql.parsing.backends.antlr4 import parse, parse_statement, print_tree, ast, visit, parse_rule, sbp, ct, DJParseException

In [2]:
from dj.sql.functions2 import function_registry

In [6]:
function_registry['AVG'].infer_type(ct.FloatType())

DoubleType()

In [6]:
inspect.getmembers(ct.ColumnType)

[('__class__', type),
 ('__delattr__', <slot wrapper '__delattr__' of 'object' objects>),
 ('__dict__',
  mappingproxy({'__module__': 'dj.sql.parsing.types',
                '__doc__': 'Base type for all Column Types',
                '_initialized': False,
                '__init__': <function dj.sql.parsing.types.ColumnType.__init__(self, type_string: str, repr_string: str)>,
                '__repr__': <function dj.sql.parsing.types.ColumnType.__repr__(self)>,
                '__str__': <function dj.sql.parsing.types.ColumnType.__str__(self)>,
                'is_primitive': <property at 0xffff7b5392b0>,
                '__dict__': <attribute '__dict__' of 'ColumnType' objects>,
                '__weakref__': <attribute '__weakref__' of 'ColumnType' objects>})),
 ('__dir__', <method '__dir__' of 'object' objects>),
 ('__doc__', 'Base type for all Column Types'),
 ('__eq__', <slot wrapper '__eq__' of 'object' objects>),
 ('__format__', <method '__format__' of 'object' objects>),
 ('__ge__', <slot wrapper '__ge__' of 'object' objects>),
 ('__getattribute__', <slot wrapper '__getattribute__' of 'object' objects>),
 ('__gt__', <slot wrapper '__gt__' of 'object' objects>),
 ('__hash__', <slot wrapper '__hash__' of 'object' objects>),
 ('__init__',
  <function dj.sql.parsing.types.ColumnType.__init__(self, type_string: str, repr_string: str)>),
 ('__init_subclass__', <function ColumnType.__init_subclass__>),
 ('__le__', <slot wrapper '__le__' of 'object' objects>),
 ('__lt__', <slot wrapper '__lt__' of 'object' objects>),
 ('__module__', 'dj.sql.parsing.types'),
 ('__ne__', <slot wrapper '__ne__' of 'object' objects>),
 ('__new__', <function object.__new__(*args, **kwargs)>),
 ('__reduce__', <method '__reduce__' of 'object' objects>),
 ('__reduce_ex__', <method '__reduce_ex__' of 'object' objects>),
 ('__repr__', <function dj.sql.parsing.types.ColumnType.__repr__(self)>),
 ('__setattr__', <slot wrapper '__setattr__' of 'object' objects>),
 ('__sizeof__', <method '__sizeof__' of 'object' objects>),
 ('__str__', <function dj.sql.parsing.types.ColumnType.__str__(self)>),
 ('__subclasshook__', <function ColumnType.__subclasshook__>),
 ('__weakref__', <attribute '__weakref__' of 'ColumnType' objects>),
 ('_initialized', False),
 ('is_primitive', <property at 0xffff7b5392b0>)]

In [7]:
['BinaryType',
'BooleanType',
'ColumnType',
'DateType',
'DecimalType',
'DoubleType',
'FixedType',
'FloatType',
'IntegerType',
'ListType',
'LongType',
'MapType',
'NestedField',
'StringType',
'StructType',
'TimeType',
'TimestampType',
'TimestamptzType',]

['BinaryType',
 'BooleanType',
 'ClassVar',
 'ColumnType',
 'DateType',
 'DecimalType',
 'Dict',
 'DoubleType',
 'FixedType',
 'FloatType',
 'IntegerType',
 'ListType',
 'LongType',
 'MapType',
 'NestedField',
 'Optional',
 'PrimitiveType',
 'Singleton',
 'StringType',
 'StructType',
 'TimeType',
 'TimestampType',
 'TimestamptzType',
 'Tuple',
 'UUIDType',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'ast']

In [5]:
import inspect


child_classes = []

for name, obj in inspect.getmembers(ct.ColumnType):
    if inspect.isclass(obj) and issubclass(obj, ct.ColumnType) and obj is not ct.ColumnType:
        child_classes.append(obj)

print(child_classes)

[]

In [2]:
(parse_rule("STRUCT<name: STRING NOT NULL COMMENT 'where someone lives'>", 'dataType'))

StructType(NestedField(name=Name(name='name', quote_style='', namespace=None), field_type=StringType(), is_optional=False, doc="COMMENT'where someone lives'"),)

In [10]:
print(parse_rule("STRUCT<name: struct<> COMMENT 'where someone lives', name: STRING NOT NULL COMMENT 'where someone lives'>", 'dataType'))

struct<name: struct<> COMMENT'where someone lives', name: string NOT NULL COMMENT'where someone lives'>

In [65]:
parse_rule("STRUCT<street: STRING NOT NULL, city: STRING NOT NULL, state: STRING NOT NULL, zip: INT NOT NULL>", 'dataType')

DJParseException: 1:0 Could not parse STRUCT<street:STRINGNOTNULL,city:STRINGNOTNULL,state:STRINGNOTNULL,zip:INTNOTNULL>

In [3]:
str(StructType(
                NestedField(True, 1, "required_field", StringType()),
                NestedField(False, 2, "optional_field", IntegerType())
        ))

'struct<True: 1: optional required_field, False: 2: optional optional_field>'

In [8]:
ListType(element_id=3, element_type=StringType(), element_required=True)

ValidationError: 2 validation errors for NestedField
id
  field required (type=value_error.missing)
type
  field required (type=value_error.missing)

In [3]:
ListType(element_id=3, element_type=StringType(), element_required=True)

KeyError: 'element-id'

In [ ]:
ListType(element_id=3, element_type=StringType(), element_required=True)

In [4]:
%pdb

Automatic pdb calling has been turned ON

In [3]:
NestedField(2, "optional_field", IntegerType())

TypeError: BaseModel.__init__() takes 1 positional argument but 4 were given

In [9]:
str(StructType(
    NestedField(1, "required_field", StringType(), True),
    NestedField(2, "optional_field", IntegerType())
))

KeyError: 'id'

In [2]:
query = """
-- start query 2 in stream 0 using template query2.tpl
WITH wscs
     AS (SELECT sold_date_sk,
                sales_price
         FROM   (SELECT ws_sold_date_sk    sold_date_sk,
                        ws_ext_sales_price sales_price
                 FROM   web_sales)
         UNION ALL
         (SELECT cs_sold_date_sk    sold_date_sk,
                 cs_ext_sales_price sales_price
          FROM   catalog_sales)),
     wswscs
     AS (SELECT d_week_seq,
                Sum(CASE
                      WHEN ( d_day_name = 'Sunday' ) THEN sales_price
                      ELSE NULL
                    END) sun_sales,
                Sum(CASE
                      WHEN ( d_day_name = 'Monday' ) THEN sales_price
                      ELSE NULL
                    END) mon_sales,
                Sum(CASE
                      WHEN ( d_day_name = 'Tuesday' ) THEN sales_price
                      ELSE NULL
                    END) tue_sales,
                Sum(CASE
                      WHEN ( d_day_name = 'Wednesday' ) THEN sales_price
                      ELSE NULL
                    END) wed_sales,
                Sum(CASE
                      WHEN ( d_day_name = 'Thursday' ) THEN sales_price
                      ELSE NULL
                    END) thu_sales,
                Sum(CASE
                      WHEN ( d_day_name = 'Friday' ) THEN sales_price
                      ELSE NULL
                    END) fri_sales,
                Sum(CASE
                      WHEN ( d_day_name = 'Saturday' ) THEN sales_price
                      ELSE NULL
                    END) sat_sales
         FROM   wscs,
                date_dim
         WHERE  d_date_sk = sold_date_sk
         GROUP  BY d_week_seq)
SELECT d_week_seq1,
       Round(sun_sales1 / sun_sales2, 2),
       Round(mon_sales1 / mon_sales2, 2),
       Round(tue_sales1 / tue_sales2, 2),
       Round(wed_sales1 / wed_sales2, 2),
       Round(thu_sales1 / thu_sales2, 2),
       Round(fri_sales1 / fri_sales2, 2),
       Round(sat_sales1 / sat_sales2, 2)
FROM   (SELECT wswscs.d_week_seq d_week_seq1,
               sun_sales         sun_sales1,
               mon_sales         mon_sales1,
               tue_sales         tue_sales1,
               wed_sales         wed_sales1,
               thu_sales         thu_sales1,
               fri_sales         fri_sales1,
               sat_sales         sat_sales1
        FROM   wswscs,
               date_dim
        WHERE  date_dim.d_week_seq = wswscs.d_week_seq
               AND d_year = 1998) y,
       (SELECT wswscs.d_week_seq d_week_seq2,
               sun_sales         sun_sales2,
               mon_sales         mon_sales2,
               tue_sales         tue_sales2,
               wed_sales         wed_sales2,
               thu_sales         thu_sales2,
               fri_sales         fri_sales2,
               sat_sales         sat_sales2
        FROM   wswscs,
               date_dim
        WHERE  date_dim.d_week_seq = wswscs.d_week_seq
               AND d_year = 1998 + 1) z
WHERE  d_week_seq1 = d_week_seq2 - 53
ORDER  BY d_week_seq1;
"""

In [3]:
query ="""
SELECT name, age, (
    SELECT COUNT(*) 
    FROM sample_table st 
    WHERE st.age < sample_table.age
    ORDER BY 1
) AS older_count
FROM sample_table;
"""

In [16]:
%timeit (parse_statement(query))

29.1 ms ± 1.55 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [14]:
ast.Column(ast.Name('x')).name.name.identifier(False)

AttributeError: 'str' object has no attribute 'identifier'

In [17]:
tree = parse(query)

In [18]:
print(tree)

SELECT  name,
	age,
	(

SELECT  COUNT(*)
 FROM sample_table st
 WHERE  st.age < sample_table.age
ORDER BY 1
) AS older_count
 FROM sample_table

In [29]:
list(tree.find_all(ast.Name))

[Name(name='name', quote_style='', namespace=None),
 Name(name='AGE', quote_style='`', namespace=None),
 Name(name='oops', quote_style='', namespace=None),
 Name(name='COUNT', quote_style='', namespace=None),
 Name(name='sample_table', quote_style='', namespace=None),
 Name(name=Name(name='st', quote_style='', namespace=None), quote_style='', namespace=None),
 Name(name='st', quote_style='', namespace=None),
 Name(name='age', quote_style='', namespace=Name(name='st', quote_style='', namespace=None)),
 Name(name='st', quote_style='', namespace=None),
 Name(name='age', quote_style='', namespace=Name(name='sample_table', quote_style='', namespace=None)),
 Name(name='sample_table', quote_style='', namespace=None),
 Name(name='sample_table', quote_style='', namespace=None)]

In [34]:
tree.replace(ast.Name('oops'), ast.Name('AGE', "`"), lambda a, b: isinstance(a, ast.Name) and a.name==b.name)

In [35]:
print(tree)

SELECT  name,
	`AGE`,
	(

SELECT  COUNT(*)
 FROM sample_table st
 WHERE  `AGE` < `AGE`
ORDER BY 1
) AS `AGE`
 FROM sample_table

In [11]:
list(tree.select.from_.find_all(ast.TableExpression))[0].in_from()

True

In [8]:
%timeit tree.contains(ast.Name("fuck"))

17.8 ms ± 296 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [20]:
tree.ctes[0].parent_key

'ctes'

In [18]:
print(tree.select.from_.relations[0])

y (

SELECT  wswscs.d_week_seq d_week_seq1,
	sun_sales sun_sales1,
	mon_sales mon_sales1,
	tue_sales tue_sales1,
	wed_sales wed_sales1,
	thu_sales thu_sales1,
	fri_sales fri_sales1,
	sat_sales sat_sales1
 FROM wswscs,
date_dim
 WHERE  date_dim.d_week_seq = wswscs.d_week_seq AND d_year = 1998
)

In [4]:
str1 = query
str2 = str(tree)

In [5]:
import re
COMMENT = re.compile(r"(--.*)|(/\*[\s\S]*?\*/)")
TRAILING_ZEROES = re.compile(r"(\d+\.\d*?[1-9])0+|\b(\d+)\.0+\b")
DIFF_IGNORE = re.compile(r"[\';\s]+")



str1 = DIFF_IGNORE.sub("", TRAILING_ZEROES.sub("", COMMENT.sub("", str1))).upper()
str2 = DIFF_IGNORE.sub("", TRAILING_ZEROES.sub("", COMMENT.sub("", str2))).upper()

In [6]:
str1 == str2

True

In [7]:
import difflib

# Compute the differences between the two strings
diff = difflib.ndiff(str1, str2)

# Print out the differences
for line in diff:
    if line.startswith('+'):
        print('Added:', line[2:])
    elif line.startswith('-'):
        print('Removed:', line[2:])
    else:
        ...
#         print('Unchanged:', line[2:])

In [ ]:
class Avg(Function):
    is_aggregation = True
    
    @staticmethod
    def infer_type(arg) -> ct.DoubleType:
        return ct.DoubleType()


class Min(Function):
    is_aggregation = True
    
    @staticmethod
    def infer_type(arg) -> ct.ColumnType:
        return arg


class Max(Function):
    is_aggregation = True
    
    @staticmethod
    def infer_type(arg) -> ct.ColumnType:
        return arg


class Sum(Function):
    is_aggregation = True
    
    @staticmethod
    def infer_type(arg) -> ct.ColumnType:
        return arg


class Ceil(Function):
    @staticmethod
    def infer_type(arg) -> ct.IntegerType:
        return ct.IntegerType()


class Count(Function):
    is_aggregation = True
    
    @staticmethod
    def infer_type(arg) -> ct.LongType:
        return ct.LongType()


class CurrentDate(Function):
    @staticmethod
    def infer_type(arg) -> ct.DateType:
        return ct.DateType()


class CurrentDatetime(Function):
    @staticmethod
    def infer_type(arg) -> ct.TimestampType:
        return ct.TimestampType()


class CurrentTime(Function):
    @staticmethod
    def infer_type(arg) -> ct.TimeType:
        return ct.TimeType()


class CurrentTimestamp(Function):
    @staticmethod
    def infer_type(arg) -> ct.TimestampType:
        return ct.TimestampType()


class DateAdd(Function):
    @staticmethod
    def infer_type(arg) -> ct.DateType:
        return ct.DateType()


class DateSub(Function):
    @staticmethod
    def infer_type(arg) -> ct.DateType:
        return ct.DateType()


class DateDiff(Function):
    @staticmethod
    def infer_type(arg) -> ct.IntegerType:
        return ct.IntegerType()


class DatetimeAdd(Function):
    @staticmethod
    def infer_type(arg) -> ct.TimestampType:
        return ct.TimestampType()


class DatetimeSub(Function):
    @staticmethod
    def infer_type(arg) -> ct.TimestampType:
        return ct.TimestampType()


class DatetimeDiff(Function):
    @staticmethod
    def infer_type(arg) -> ct.IntegerType:
        return ct.IntegerType()


class Extract(Function):
    @staticmethod
    def infer_type(arg) -> ct.IntegerType:
        return ct.IntegerType()


class TimestampAdd(Function):
    @staticmethod
    def infer_type(arg) -> ct.TimestampType:
        return ct.TimestampType()


class TimestampSub(Function):
    @staticmethod
    def infer_type(arg) -> ct.TimestampType:
        return ct.TimestampType()


class TimestampDiff(Function):
    @staticmethod
    def infer_type(arg) -> ct.IntegerType:
        return ct.IntegerType()


class TimeAdd(Function):
    @staticmethod
    def infer_type(arg) -> ct.TimestampType:
        return ct.TimestampType()


class TimeSub(Function):
    @staticmethod
    def infer_type(arg) -> ct.TimestampType:
        return ct.TimestampType()


class TimeDiff(Function):
    @staticmethod
    def infer_type(arg) -> ct.IntegerType:
        return ct.IntegerType()


class DateStrToDate(Function):
    @staticmethod
    def infer_type(arg) -> ct.DateType:
        return ct.DateType()


class DateToDateStr(Function):
    @staticmethod
    def infer_type(arg) -> ct.StringType:
        return ct.StringType()


class DateToDi(Function):
    @staticmethod
    def infer_type(arg) -> ct.IntegerType:
        return ct.IntegerType()


class Day(Function):
    @staticmethod
    def infer_type(arg) -> ct.IntegerType:
        return ct.IntegerType()


class DiToDate(Function):
    @staticmethod
    def infer_type(arg) -> ct.DateType:
        return ct.DateType()


class Exp(Function):
    @staticmethod
    def infer_type(arg) -> ct.DoubleType:
        return ct.DoubleType()


class Floor(Function):
    @staticmethod
    def infer_type(arg) -> ct.IntegerType:
        return ct.IntegerType()

In [3]:
from typing import ClassVar

In [ ]:
Here is some sample code of sql functions in my function registry: ```class Function(abc.ABC):  # pylint: disable=too-few-public-methods
    """
    A DJ function.
    """
    
    is_aggregation: ClassVar[bool] = False

    @staticmethod
    @abc.abstractmethod
    def infer_type(*args: ct.ColumnType) -> ct.ColumnType:
        """
        Infers the return type of the function based on the input type.
        """
        raise NotImplementedError("Subclass MUST implement infer_type")

class Avg(Function):
    """
    Computes the average of the input column or expression.
    """
    is_aggregation = True
    
    @staticmethod
    def infer_type(arg) -> ct.DoubleType:
        return ct.DoubleType()


class Min(Function):
    """
    Computes the minimum value of the input column or expression.
    """
    is_aggregation = True
    
    @staticmethod
    def infer_type(arg) -> ct.ColumnType:
        return arg


class Max(Function):
    """
    Computes the maximum value of the input column or expression.
    """
    is_aggregation = True
    
    @staticmethod
    def infer_type(arg) -> ct.ColumnType:
        return arg


class Sum(Function):
    """
    Computes the sum of the input column or expression.
    """
    is_aggregation = True
    
    @staticmethod
    def infer_type(arg) -> ct.ColumnType:
        return arg


class Ceil(Function):
    """
    Computes the smallest integer greater than or equal to the input value.
    """
    @staticmethod
    def infer_type(arg) -> ct.IntegerType:
        return ct.IntegerType()


class Count(Function):
    """
    Counts the number of non-null values in the input column or expression.
    """
    is_aggregation = True
    
    @staticmethod
    def infer_type(arg) -> ct.LongType:
        return ct.LongType()


class CurrentDate(Function):
    """
    Returns the current date.
    """
    @staticmethod
    def infer_type() -> ct.DateType:
        return ct.DateType()


class CurrentDatetime(Function):
    """
    Returns the current date and time.
    """
    @staticmethod
    def infer_type() -> ct.TimestampType:
        return ct.TimestampType()


class CurrentTime(Function):
    """
    Returns the current time.
    """
    @staticmethod
    def infer_type() -> ct.TimeType:
        return ct.TimeType()


class CurrentTimestamp(Function):
    """
    Returns the current timestamp.
    """
    @staticmethod
    def infer_type() -> ct.TimestampType:
        return ct.TimestampType()

class DateAdd(Function):
    """
    Adds a specified number of days to a date.
    """
    @staticmethod
    def infer_type(*args) -> ct.DateType:
        return ct.DateType()


class DateSub(Function):
    """
    Subtracts a specified number of days from a date.
    """
    @staticmethod
    def infer_type(*args) -> ct.DateType:
        return ct.DateType()


``` can you implement the classes for just those types that have a corresponding sql function (so not case, if, etc) from this: ```        exp.Coalesce: lambda self, expr: self._annotate_by_args(expr, "this", "expressions"),


        exp.StddevPop: lambda self, expr: self._annotate_with_type(expr, exp.DataType.Type.DOUBLE),
        exp.StddevSamp: lambda self, expr: self._annotate_with_type(expr, exp.DataType.Type.DOUBLE),
        exp.TimeToStr: lambda self, expr: self._annotate_with_type(expr, exp.DataType.Type.VARCHAR),
        exp.TimeToTimeStr: lambda self, expr: self._annotate_with_type(
            expr, exp.DataType.Type.VARCHAR
        ),
        exp.TimeStrToDate: lambda self, expr: self._annotate_with_type(
            expr, exp.DataType.Type.DATE
        ),
        exp.TimeStrToTime: lambda self, expr: self._annotate_with_type(
            expr, exp.DataType.Type.TIMESTAMP
        ),
        exp.Trim: lambda self, expr: self._annotate_with_type(expr, exp.DataType.Type.VARCHAR),
        exp.TsOrDsToDateStr: lambda self, expr: self._annotate_with_type(
            expr, exp.DataType.Type.VARCHAR
        ),
        exp.TsOrDsToDate: lambda self, expr: self._annotate_with_type(expr, exp.DataType.Type.DATE),
        exp.TsOrDiToDi: lambda self, expr: self._annotate_with_type(expr, exp.DataType.Type.INT),
        exp.UnixToStr: lambda self, expr: self._annotate_with_type(expr, exp.DataType.Type.VARCHAR),
        exp.UnixToTime: lambda self, expr: self._annotate_with_type(
            expr, exp.DataType.Type.TIMESTAMP
        ),
        exp.UnixToTimeStr: lambda self, expr: self._annotate_with_type(
            expr, exp.DataType.Type.VARCHAR
        ),
        exp.Upper: lambda self, expr: self._annotate_with_type(expr, exp.DataType.Type.VARCHAR),
        exp.Variance: lambda self, expr: self._annotate_with_type(expr, exp.DataType.Type.DOUBLE),
        exp.VariancePop: lambda self, expr: self._annotate_with_type(
            expr, exp.DataType.Type.DOUBLE
        ),
        exp.Week: lambda self, expr: self._annotate_with_type(expr, exp.DataType.Type.TINYINT),
        exp.Year: lambda self, expr: self._annotate_with_type(expr, exp.DataType.Type.TINYINT),
    }```