!pip install antlr4-python3-runtime==4.12.0

In [1]:
from dj.sql.parsing.backends.antlr4 import parse, parse_statement, print_tree, ast

In [2]:
query = """
-- start query 2 in stream 0 using template query2.tpl
WITH wscs
     AS (SELECT sold_date_sk,
                sales_price
         FROM   (SELECT ws_sold_date_sk    sold_date_sk,
                        ws_ext_sales_price sales_price
                 FROM   web_sales)
         UNION ALL
         (SELECT cs_sold_date_sk    sold_date_sk,
                 cs_ext_sales_price sales_price
          FROM   catalog_sales)),
     wswscs
     AS (SELECT d_week_seq,
                Sum(CASE
                      WHEN ( d_day_name = 'Sunday' ) THEN sales_price
                      ELSE NULL
                    END) sun_sales,
                Sum(CASE
                      WHEN ( d_day_name = 'Monday' ) THEN sales_price
                      ELSE NULL
                    END) mon_sales,
                Sum(CASE
                      WHEN ( d_day_name = 'Tuesday' ) THEN sales_price
                      ELSE NULL
                    END) tue_sales,
                Sum(CASE
                      WHEN ( d_day_name = 'Wednesday' ) THEN sales_price
                      ELSE NULL
                    END) wed_sales,
                Sum(CASE
                      WHEN ( d_day_name = 'Thursday' ) THEN sales_price
                      ELSE NULL
                    END) thu_sales,
                Sum(CASE
                      WHEN ( d_day_name = 'Friday' ) THEN sales_price
                      ELSE NULL
                    END) fri_sales,
                Sum(CASE
                      WHEN ( d_day_name = 'Saturday' ) THEN sales_price
                      ELSE NULL
                    END) sat_sales
         FROM   wscs,
                date_dim
         WHERE  d_date_sk = sold_date_sk
         GROUP  BY d_week_seq)
SELECT d_week_seq1,
       Round(sun_sales1 / sun_sales2, 2),
       Round(mon_sales1 / mon_sales2, 2),
       Round(tue_sales1 / tue_sales2, 2),
       Round(wed_sales1 / wed_sales2, 2),
       Round(thu_sales1 / thu_sales2, 2),
       Round(fri_sales1 / fri_sales2, 2),
       Round(sat_sales1 / sat_sales2, 2)
FROM   (SELECT wswscs.d_week_seq d_week_seq1,
               sun_sales         sun_sales1,
               mon_sales         mon_sales1,
               tue_sales         tue_sales1,
               wed_sales         wed_sales1,
               thu_sales         thu_sales1,
               fri_sales         fri_sales1,
               sat_sales         sat_sales1
        FROM   wswscs,
               date_dim
        WHERE  date_dim.d_week_seq = wswscs.d_week_seq
               AND d_year = 1998) y,
       (SELECT wswscs.d_week_seq d_week_seq2,
               sun_sales         sun_sales2,
               mon_sales         mon_sales2,
               tue_sales         tue_sales2,
               wed_sales         wed_sales2,
               thu_sales         thu_sales2,
               fri_sales         fri_sales2,
               sat_sales         sat_sales2
        FROM   wswscs,
               date_dim
        WHERE  date_dim.d_week_seq = wswscs.d_week_seq
               AND d_year = 1998 + 1) z
WHERE  d_week_seq1 = d_week_seq2 - 53
ORDER  BY d_week_seq1;
"""

In [3]:
query ="""
SELECT name, age, (
    SELECT COUNT(*) 
    FROM sample_table st 
    WHERE st.age < sample_table.age
    ORDER BY 1
) AS older_count
FROM sample_table;
"""

In [16]:
%timeit (parse_statement(query))

29.1 ms ± 1.55 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [14]:
ast.Column(ast.Name('x')).name.name.identifier(False)

AttributeError: 'str' object has no attribute 'identifier'

In [17]:
tree = parse(query)

In [18]:
print(tree)

SELECT  name,
	age,
	(

SELECT  COUNT(*)
 FROM sample_table st
 WHERE  st.age < sample_table.age
ORDER BY 1
) AS older_count
 FROM sample_table

In [29]:
list(tree.find_all(ast.Name))

[Name(name='name', quote_style='', namespace=None),
 Name(name='AGE', quote_style='`', namespace=None),
 Name(name='oops', quote_style='', namespace=None),
 Name(name='COUNT', quote_style='', namespace=None),
 Name(name='sample_table', quote_style='', namespace=None),
 Name(name=Name(name='st', quote_style='', namespace=None), quote_style='', namespace=None),
 Name(name='st', quote_style='', namespace=None),
 Name(name='age', quote_style='', namespace=Name(name='st', quote_style='', namespace=None)),
 Name(name='st', quote_style='', namespace=None),
 Name(name='age', quote_style='', namespace=Name(name='sample_table', quote_style='', namespace=None)),
 Name(name='sample_table', quote_style='', namespace=None),
 Name(name='sample_table', quote_style='', namespace=None)]

In [34]:
tree.replace(ast.Name('oops'), ast.Name('AGE', "`"), lambda a, b: isinstance(a, ast.Name) and a.name==b.name)

In [35]:
print(tree)

SELECT  name,
	`AGE`,
	(

SELECT  COUNT(*)
 FROM sample_table st
 WHERE  `AGE` < `AGE`
ORDER BY 1
) AS `AGE`
 FROM sample_table

In [11]:
list(tree.select.from_.find_all(ast.TableExpression))[0].in_from()

True

In [8]:
%timeit tree.contains(ast.Name("fuck"))

17.8 ms ± 296 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [20]:
tree.ctes[0].parent_key

'ctes'

In [18]:
print(tree.select.from_.relations[0])

y (

SELECT  wswscs.d_week_seq d_week_seq1,
	sun_sales sun_sales1,
	mon_sales mon_sales1,
	tue_sales tue_sales1,
	wed_sales wed_sales1,
	thu_sales thu_sales1,
	fri_sales fri_sales1,
	sat_sales sat_sales1
 FROM wswscs,
date_dim
 WHERE  date_dim.d_week_seq = wswscs.d_week_seq AND d_year = 1998
)

In [4]:
str1 = query
str2 = str(tree)

In [5]:
import re
COMMENT = re.compile(r"(--.*)|(/\*[\s\S]*?\*/)")
TRAILING_ZEROES = re.compile(r"(\d+\.\d*?[1-9])0+|\b(\d+)\.0+\b")
DIFF_IGNORE = re.compile(r"[\';\s]+")



str1 = DIFF_IGNORE.sub("", TRAILING_ZEROES.sub("", COMMENT.sub("", str1))).upper()
str2 = DIFF_IGNORE.sub("", TRAILING_ZEROES.sub("", COMMENT.sub("", str2))).upper()

In [6]:
str1 == str2

True

In [7]:
import difflib

# Compute the differences between the two strings
diff = difflib.ndiff(str1, str2)

# Print out the differences
for line in diff:
    if line.startswith('+'):
        print('Added:', line[2:])
    elif line.startswith('-'):
        print('Removed:', line[2:])
    else:
        ...
#         print('Unchanged:', line[2:])